<div class="row">
  <div class="large-3 columns">
    <h1><%= image_tag "logo.png" %></h1>
  </div>
  <div class="large-9 columns menu-pizzaria">
    <ul class="right button-group">
      <li><a href="#" class="button">Home</a></li>
      <li><a href="#" class="button">Pedido Online</a></li>
      <li><a href="#" class="button">Lojas</a></li>
      <li><a href="#" class="button">Contato</a></li>
      <li><a href="#" class="button">Login</a></li>
    </ul>
  </div>
</div>

<!-- End Header and Nav -->

<!-- First Band (Slider) -->

<div class="row">
  <div class="large-12 columns">
    <ul class="example-orbit" data-orbit>
      <li><%= image_tag "pizza1.png"%></li>
      <li><%= image_tag "pizza2.jpg"%></li>
      <li><%= image_tag "pizza3.jpg"%></li>
    </ul>
  </div>
</div>

<hr/>


<!-- Three-up Content Blocks -->

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "massa1.jpg"%>
    <h4>Massas</h4>
    <p>Conheça as melhores massas da região.<p>
  </div>

  <div class="large-4 columns">
    <%= image_tag "salada1.jpg"%>
    <h4>Saladas</h4>
    <p>Se você prefere um prato mais leve chegou a hora de aproveitar as nossas saladas.</p>
  </div>

  <div class="large-4 columns">
    <%= image_tag "sobremesa1.jpg" %>
    <h4>Sobremesas</h4>
    <p>Louco por doces? Confira as nossas deliciosas sobremesas.</p>
  </div>

</div>

<!-- Call to Action Panel -->
<div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <h4>Entre em contato conosco!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>Conte-nos um pouco sobre a sua experiência comendo com a Pizzaria Nona</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contato</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>© Pizzaria Nonna 2014</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Pedido Online</a></li>
          <li><a href="#">Lojas</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script>
    $(document).foundation();
</script>