<%= errors @variable %>

<%= nested_form_for @variable do |f| %>


    <fieldset>
      <legend>Variável</legend>

      <label for="text_code"><%= t("activerecord.attributes.variable.code") %>
        <%= f.text_field :code, id: "text_code", placeholder: t("activerecord.attributes.variable.code") %>
      </label>

      <label for="text_name"><%= t("activerecord.attributes.variable.exibition_name") %>
        <%= f.text_field :name, id: "text_name", placeholder: t("activerecord.attributes.variable.exibition_name") %>
      </label>


      <%= f.fields_for :options do |option_form| %>

          <fieldset>
            <legend>Opções</legend>

            <label for="option_code"><%= t("activerecord.attributes.option.code") %>
              <%= option_form.text_field :code, id: "option_code", placeholder: t("activerecord.attributes.option.code") %>
            </label>
            <label for="option_name"><%= t("activerecord.attributes.option.name") %>
              <%= option_form.text_field :name, id: "option_name", placeholder: t("activerecord.attributes.option.name") %>
            </label>

            <%= option_form.link_to_remove t("helpers.submit.remove") %>
          </fieldset>
      <% end %>
      <p><%= f.link_to_add t("helpers.submit.add", model: t("activerecord.models.option")), :options %></p>

      <div class="row">
        <div class="large-8 columns">
          <%= f.submit class: "button success radius" %>
          <%= link_to 'Voltar', variables_path, class: "button small radius secondary" %>
        </div>
      </div>
    </fieldset>



<% end %>
