<%= notices %>
<%= errors @variable %>


<h1><%= @variable.name %></h1>

<p>
  <strong><%= "#{t("activerecord.attributes.variable.code")}: " %></strong>
  <%= @variable.code %>
</p>


<h3>Opcões</h3>
<div>
  <ol>
    <% for option in @variable.options %>
        <p>
          <strong><%= "#{t("activerecord.attributes.option.name")}:" %></strong>
          <%= option.name %>
        </p>

        <p>
          <strong><%= "#{t("activerecord.attributes.option.code")}:" %></strong>
          <%= option.code %>
        </p>
    <% end %>
  </ol>
</div>

<%= link_to 'Editar', edit_variable_path(@variable), class: "button radius" %>
<%= link_to 'Voltar', variables_path, class: "button small radius secondary" %>
