<%= errors @product %>

<%= form_for(@product) do |f| %>
    <fieldset>
      <legend>Produto</legend>

      <label for="text_code"><%= t("activerecord.attributes.product.code") %>
        <%= f.text_field :code, id: "text_code", placeholder: t("activerecord.attributes.product.code") %>
      </label>

      <label for="text_name"><%= t("activerecord.attributes.product.name") %>
        <%= f.text_field :name, id: "text_name", placeholder: t("activerecord.attributes.product.name") %>
      </label>

      <fieldset>
        <legend>Variáveis associadas</legend>
        <%= f.collection_check_boxes(:variable_ids, Variable.all, :id, :name) %>
      </fieldset>

      <div class="row">
        <div class="large-8 columns">
          <%= f.submit class: "button success radius" %>
          <%= link_to 'Voltar', products_path, class: "button small radius secondary" %>
        </div>
      </div>
    </fieldset>
<% end %>
