<%= notices %>
<%= errors @product %>


<h1><%= @product.name %></h1>

<p>
  <strong><%= "#{t("activerecord.attributes.product.code")}: " %></strong>
  <%= @product.code %>
</p>


<h3>Variáveis</h3>
<div>
  <ol>
    <% for variable in @product.variables %>
        <p>
          <strong><%= "#{t("activerecord.attributes.variable.name")}:" %></strong>
          <%= variable.name %>
        </p>

        <p>
          <strong><%= "#{t("activerecord.attributes.variable.code")}:" %></strong>
          <%= variable.code %>
        </p>
    <% end %>
  </ol>
</div>

<%= link_to 'Editar', edit_product_path(@product), class: "button radius" %>
<%= link_to 'Voltar', products_path, class: "button small radius secondary" %>
